body {
    margin: 0;
}
nav {
    margin-top: 31px;
    margin-bottom: 40px;
    max-width: 90%;
}
nav ul {
    list-style-type: none;
    background-color: white;
    padding-left: 0;
    margin: 0;
    text-align: right;
    padding-top: 31px;
    height: 51px;
    
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    padding: 11px;
    margin: 16px;
}


nav ul li a:hover {
    color: white;
    background-color: #e7aa59;
    transition: 0.3s;
}

.parent-1 {
    display: flex;
    
}
.parent-1 .ex-1 {
    flex-direction: column;
    margin-top: 81px;
    margin-left: 200px;
    margin-right: 20px;
    font-size: 19px;
}

.ex-1 h1 {
    text-align: left;
    max-width: 501px;
    font-family: 'Raleway', sans-serif;
    color: rgba(83, 72, 71, 1);
}
.ex-1 p {
    text-align: left;
    max-width: 501px;
    font-family: 'Poppins', sans-serif;
    color: rgba(141, 129, 128, 1);
}
.ex-1 a {
    font-family: 'Poppins', sans-serif;
    color: rgba(226, 184, 76, 1);
    text-decoration: none;
}
.colortext {
    color: rgba(226, 184, 76, 1) ;
}


.parent-1 .ex-2 {
    flex-direction: column;
}

.ex-2  img {
    width: 600px;
    height: 800px;
    border-radius: 30px 0 0 0;
    margin-right: 0px;
}

.ex-2 a {
    font-family: 'Poppins', sans-serif;
    background-color: lightblue;
    padding: 5px 10px;
    color: rgba(83, 72, 71, 1);
    text-decoration: none;
    
}

.parent-1 .vector {
    position: absolute;
    left: -3.29%;
    right: 92%;
    top: 30%;
    bottom: 94%;
}
.parent-1 .vector2 {
    width: 100px;
    height: 100px;
    position: absolute;
    
    left: 85%;
    right: 10%;
    top: 1050px;
    bottom: 80.43%;
}
.parent-1 .group {
    position: absolute;
    width: 224px;
    height: 224px;
    left: 20px;
    top: 750px;
}

.parent-2 {
    display: flex;
}

.parent-2 .ex-3 {
    flex-direction: column;
    margin-top: 81px;
    margin-left: 200px;
    margin-right: 20px;
    font-size: 19px;
}

.ex-3 h1 {
    text-align: left;
    max-width: 300px;
    font-family: 'Raleway', sans-serif;
    color: rgba(83, 72, 71, 1);
}

.ex-3 a {
    font-family: 'Poppins', sans-serif;
    color: rgba(226, 184, 76, 1);
    text-decoration: none;
}


.ex-4 p {
    margin: 50px;
    text-align: left;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
    color: rgba(141, 129, 128, 1);
}

.ex-4 a {
    font-family: 'Poppins', sans-serif;
    color: rgba(226, 184, 76, 1);
    text-decoration: none;
}